*{
  border: none;
}
.maindiv {
  min-height: 870px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #5FBDAF;
  width: 100%;
  height: 46.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header>h2{
  text-align: center;
}

.entity {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 26.4px;
  color: white;
  margin-left: 10px;
}
.text {
  width: 372px;
  height: 19.2px;
  margin-top: 20px;
}
.text>p {
  font-size: 18px;
  line-height: 19.8px;
  font-weight: 500;
  color: rgb(68, 97, 82);
  margin-left: 10px;
}
.formblock {
  width: 366px;
  height: 760px;
  border: solid #dddddd 1px;
  padding: 15px 15px 15px 15px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  /* background-color: #446152 */
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.username {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.userbox {
  box-sizing: border-box;
  width: 340px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: transparent;
}
.email {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.emailbox {
  box-sizing: border-box;
  width: 340px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: transparent;
}
.password {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.passwordbox {
  box-sizing: border-box;
  width: 340px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: transparent;
}
.zip {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.zipbox {
  box-sizing: border-box;
  width: 340px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: transparent;
}
.birthday {
  font-family: "Raleway", sans-serif;
  font-weight: 50px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.month {
  width: 113.3px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  background: transparent;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  margin-right: 8.7px;
}
.day {
  width: 113.3px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  background: transparent;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  margin-right: 8.7px;
}
.year {
  width: 113.3px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  background: transparent;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
}
.newsletter {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.newspara {
  font-family: "Raleway", sans-serif;
  font-size: 9.75px;
  line-height: 14.62px;
  color: black;
  margin-bottom: 5px;
}
.phonenumber {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  line-height: 21.42px;
  color: #848383;
  margin-bottom: 5px;
}
.phonebox {
  box-sizing: border-box;
  width: 340px;
  height: 34px;
  border-radius: 5px;
  border: solid #3AB97E 1px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: transparent;
}
.register {
  box-sizing: border-box;
  padding: 5px 80px;
  border: 3px solid  #3AB97E;
  border-radius: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  line-height: 20px;
  color: #55516a;
  transition: 1000ms;
  cursor: pointer;
  
}
.register:hover {
  background-color: #3AB97E;
}
.member {
  width: 250px;
  height: 85.2;
  margin-top: 10px;
  margin-left: 10px;
  /* background-color: #3AB97E; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}
.combined {
  display: flex;
  min-height: 70vh;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
  background-image: url('../Images/client-bg.jpg');
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: #f71717; */
}
.loginbox {
  width: 250px;
  height: 85.2px;
  border: solid #dddddd 1px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.logintext {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  color: #446152;
  margin: 10px auto;
}
.loginbtn {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #5bc0de;
  width: 154px;
  height: 34px;
  margin: 0px auto;
  border-radius: 5px;
  cursor: pointer;
}
.socialtxt {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  margin-top: 10px;
  color: #446152;
}
.socialbtn1 {
  width: 100%;
  background-color: #5972a8;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: larger;
  font-family: "Raleway", sans-serif;
}
.socialbtn1:hover {
  background-color: darkblue;
}
.socialbtn2 {
  width: 100%;
  background-color: #6fb9f1;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: larger;
  font-family: "Raleway", sans-serif;
}
.socialbtn2:hover {
  background-color: skyblue;
}
.socialbtn3 {
  width: 100%;
  background-color: #e26752;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: larger;
  font-family: "Raleway", sans-serif;
}
.socialbtn3:hover {
  background-color: red;
}
.tos {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  color: #446152;
  text-decoration: underline;
}
.para1 {
  font-family: "Raleway", sans-serif;
  margin: 0px 0px;
}
.l1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
  text-justify: auto;
}
.l2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
  text-justify: auto;
}
.l3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
  text-justify: auto;
}
.l4 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
  text-justify: auto;
}

@media (max-width: 400px){

  .maindiv {
    min-height: 870px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* background-color: #e26752; */
  }  
  .combined {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
  }

  .formblock {
    width: 100%;
    height: max-content;
    
  }
}
